fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
passlib[bcrypt]
python-jose
python-multipart
bcrypt
email-validator
pymysql
pandas
numpy
scikit-learn
matplotlib
seaborn
plotly
python-dateutil
pygments